@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=Roboto+Slab:wght@300;400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* The Meyer Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Code */

:root {
    --main-color: rgb(240, 240, 240);
    --accent-color: rgb(250, 250, 250);
    --gray-color: rgb(130, 130, 130);
}

* {
    box-sizing: border-box;
    font-size: Roboto, Arial;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 300px ;
}

.container {
    width: 230px;
    padding: 4px;

    border: 4px solid var(--main-color);
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result {
    width: 100%;
    height: 35px;
    margin-bottom: 4px;

    display: flex;
    align-items: center;

    border-radius: 7px 7px 0 0;
}

.del_button {
    background-color: var(--main-color);
    transition: all 0.2s;
}

.del_button:active:focus {
    background-color: var(--main-color);
}

.del_button:hover {
    background-color: var(--accent-color);
}

.result_textbox {
    width: 90%;
    height: 100%;
    font-size: 1.28rem;
    border-radius: 7px 0 0 7px;
    background-color: var(--main-color);
    padding-left: 6px;
    margin-right: 2px;

    cursor: auto;
    user-select: none;
    pointer-events:none;

    /* (some) default styls removed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.copy_btn {
    /* (some) default styls removed */
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;

    width: 15px;
    height: 15px;
    position: absolute;
    transform: translate(168px, -7px);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.copy_btn:active:focus {
    outline: none;
    background-color: var(--main-color);
}

.copy_btn:hover {
    background-color: var(--accent-color);
}

.copy_btn_img {
    width: 10px;
    fill: black;
}

.copy_btn_img:hover {
    fill: var(--gray-color);
}

.error_alert {
    position: absolute;
    width: 180px;
    height: 9px;
    transform: translate(4px, 13px);

    font-size: 0.4rem;
    background-color: var(--main-color);
    color: var(--gray-color);
    
    /* (some) default styls removed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: default;
}

.del_button {
    height: 100%;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    border: none;
}
/*
.del_button:focus {
    outline: none;
    background-color: var(--accent-color);
}*/

.arrow_back_icon {
    width: 15px;
    transform: translateY(2px);
}

.calculator_buttons {
    width: 100%;
    height: 200px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;

    border-radius: 0 0 7px 7px;
}

.calculator_buttons input {
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.calculator_buttons input:active:focus {
    outline: none;
    background-color: var(--main-color);
}

.calculator_buttons input:hover {
    background-color: var(--accent-color);
}

.calculator_buttons input:disabled {
    background-color: var(--main-color);
}

.tooltip_Parent > input {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.tooltip_container1, .tooltip_container2 {
    position: absolute;
    transform: translate(25px, -50px);
    display: none;
}

.disabledTooltip {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.4rem;
    line-height: 0.55rem;

    color: whitesmoke;
    background-color: rgb(55, 55, 55);

    padding: 3px;
    border-radius: 5px 5px 5px 0;
    text-align: center;
}

.tooltip_corner {
    width: 3px;
    transform: translateY(-10.5px);
}

/* a few font-size twiks */
.calculator_buttons :nth-child(4n) { font-size: 1.3rem; }
.calculator_buttons :nth-child(4) { font-size: 1.4rem; }
.calculator_buttons :nth-child(17) { font-size: 0.8rem; }
.calculator_buttons :nth-child(19) { font-size: 1.3rem; } 

/* round button corners */
.calculator_buttons > input:nth-child(1)  { border-radius: 7px 0 0 0; }
.calculator_buttons :nth-child(4) { border-radius: 0 7px 0 0; }
.calculator_buttons :nth-child(20) { border-radius: 0 0 7px 0; }
.calculator_buttons :nth-child(17) { border-radius: 0 0 0 7px; }