@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=Roboto+Slab:wght@300;400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* The Meyer Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Code */

:root {
    /* Interchangeable Custome Properties (JS theme_toggle() functio ) */
    --body-color: rgb(255, 255, 255);
    --main-color: rgb(222, 231, 235); /* Light Blue */
    --main-color-0-8: rgba(222, 231, 235, 0.8); /* Copy btn */
    --hover-color: rgb(189, 210, 218); /* Hover */
    --error-color: rgba(0, 0, 0, 0.6); /* Error */
    --font-color: rgb(0, 0, 0); /* Font */
    --theme-toggle: rgb(90, 90, 90); /* Theme btn */

    /* Light Theme Custome Properties */
    --body-color-light: rgb(255, 255, 255);
    --main-color-light: rgb(222, 231, 235); /* Light Blue */
    --main-color-light-0-8: rgba(222, 231, 235, 0.8); /* Copy btn */
    --hover-color-light: rgb(189, 210, 218); /* Hover */
    --error-color-light: rgba(0, 0, 0, 0.6); /* Error */
    --font-color-light: rgb(0, 0, 0); /* Font */
    --theme-toggle-light: rgb(90, 90, 90); /* Theme btn */

    /* Dark Theme Custome Properties */
    --body-color-dark: rgb(48, 48, 48);
    --main-color-dark: rgb(100, 115, 145); /* Light Blue */
    --main-color-dark-0-8: rgba(100, 115, 145, 0.8); /* Copy Hover */
    --hover-color-dark: rgb(85, 100, 130); /* Hover */
    --error-color-dark: rgba(0, 0, 0, 0.8); /* Error */
    --font-color-dark: rgb(10, 10, 10); /* Font */
    --theme-toggle-dark: rgb(120, 120, 120); /* Theme btn */
}

* {
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 450px;
    min-height: 550px;
    background-color: var(--body-color);
    transition: background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container {
    width: 400px;
    padding: 6px;
    
    border: 6px solid var(--main-color);
    border-radius: 25px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: border-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.result {
    width: 100%;
    height: 55px;
    margin-bottom: 6px;
    
    display: flex;
    align-items: center;  
}

.del_button {
    width: 10%;
    background-color: var(--main-color);
    transition: background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.del_button:active:focus {
    background-color: var(--main-color);
}

.del_button:hover {
    background-color: var(--hover-color);
}

.result_textbox {
    width: 90%;
    height: 100%;
    font-size: 1.45rem;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-color);
    padding-left: 10px;
    margin-right: 3px;
    color: var(--font-color);
    
    cursor: auto;
    pointer-events:none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
    /* (some) default styles removed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    transition: background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.copy_btn {
    width: 25px;
    height: 25px;
    position: absolute;
    transform: translate(307px, -10px);
    border-radius: 50px;
    cursor: pointer;
    z-index: 2;
    
    /* (some) default styles removed */
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.copy_btn:active:focus {
    outline: none;
    background-color: var(--main-color-0-8);
}

.copy_btn:hover {
    background-color: var(--hover-color);
}

svg.copy_btn_img {
    width: 17.5px;
    height: 24px;
    fill: var(--font-color);
}

.error_alert {
    position: absolute;
    width: 320px;
    height: 15px;
    transform: translate(13px, 18px);
    
    font-size: 0.75rem;
    color: var(--error-color);
    
    /* (some) default styles removed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: default;
}

.del_button {
    height: 100%;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    border: none;
}

.arrow_back_icon {
    width: 20px;
    height: 24px;
    transform: translateY(2px);
    fill: var(--font-color);
}

.calculator_buttons {
    width: 100%;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
}

.calculator_buttons input {
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--font-color);
    background-color: var(--main-color);
    transition: background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.calculator_buttons input:active:focus {
    outline: none;
    background-color: var(--main-color);
}

.calculator_buttons input:hover {
    background-color: var(--hover-color);
}

.calculator_buttons input:disabled {
    background-color: var(--main-color);
}

.tooltip_Parent > input {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.tooltip_container1, .tooltip_container2 {
    position: absolute;
    transform: translate(25px, -50px);
    display: none;
}

.disabledTooltip {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.4rem;
    line-height: 0.55rem;

    color: whitesmoke;
    background-color: rgb(55, 55, 55);

    padding: 3px;
    border-radius: 5px 5px 5px 0;
    text-align: center;
}

.tooltip_corner {
    width: 3px;
    transform: translateY(-10.5px);
}

/* a few font-size twiks */
.calculator_buttons :nth-child(4n) { font-size: 1.7rem; } /* operators */
.calculator_buttons :nth-child(17) { font-size: 1.3rem; } /* clear button */
.calculator_buttons :nth-child(19) { font-size: 1.6rem; } /* dote button */

/* round button corners */
.calculator_buttons > input:nth-child(1)  { border-radius: 15px 0 0 0; }
.calculator_buttons :nth-child(4) { border-radius: 0 15px 0 0; }
.calculator_buttons :nth-child(20) { border-radius: 0 0 15px 0; }
.calculator_buttons :nth-child(17) { border-radius: 0 0 0 15px; }

/* Dark Mode Toggle Button */

.theme_toggle {
    background-color: var(--theme-toggle);
    position: absolute;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    left: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out, 
                background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.theme_toggle_svg {
    transform: translate(0.5px, -1px);
}

.theme_toggle:hover {
    border-radius: 28%;
}

#dark_icon {
    fill: rgba(255, 255, 255, 1);
    transition: fill 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#light_icon {
    fill: rgba(255, 255, 255, 0);
    transition: fill 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}